<%- include('include/head.ejs') %>

<h1 class = "title is-1"> Has elegido registrar un jugador de futbol </h1>
<a href = "/futbol/nuevo" class = "button"> Registrar </a>

<%- include('include/foot.ejs') %>