<%- include('include/head.ejs') %>

<form action = "/hockey/nuevo" method = "POST">
    <label for = "player"> Nombre del jugador </label>
    <input type = "text" id = "player" name = "player">
    <input type = "submit" value = "Enviar">
</form>
<%- include('include/foot.ejs') %>
