<%- include('include/head.ejs') %>

<h4 class = 'subtitle is-4'> El jugador de futbol es: <%- player  %></h1>
    <% console.log("Te quiero " + player); %>
<br> <br>
<a class = "button is-rounded" href = "/home">
    Volver a home
</a>

<%- include('include/foot.ejs') %>